<h2>Book Name: <%= @book.name %></h2>

<h3>Book Authors</h3>


<!-- ADD BOOK AUTHOR(S) -->







<p><a href="/books/<%= @book.id %>/edit">Edit book</a></p>
<p><a href="/books">Return to book list</a></p>
