<h2>Book Name: <%= @book.name %></h2>

<h3>Book Authors</h3>




<ul>




  <% @book.authors.each do |author| %>
  <li><%= author.name %></li>
  <% end %>



</ul>




<p><a href="/books/<%= @book.id %>/edit">Edit book</a></p>
<p><a href="/books">Return to book list</a></p>
