<h1>Add a new book</h1>

<form action="/books" method="post">
  <div class="form-group">
    <label for="book_name">Book name</label>
    <input id="n" name="book_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add book</button>
</form>
