<h1>Add a new author</h1>

<form action="/authors" method="post">
  <div class="form-group">
    <label for="author_name">Author name</label>
    <input id="n" name="author_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add author</button>
</form>
