<h1>Nova Library</h1>

<h3>Available Patrons</h3>


<a href="/patrons"><p class="btn-lg btn-primary">All patron</p></a>


<form action="/patron">
  <div class="form-group row">
    <label for="search" class="col-sm-2 col-form-label col-form-label-lg"></label>
    <div class="col-sm-4">
      <input id="search" name="search" class="form-control form-control-lg" type="text" placeholder="Search">
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <label for="search" class="col-sm-2 col-form-label col-form-label-lg"></label>

  </div>
</form>

<% if @patron.any? %>
<ul>
  <% @patron.each do |patron| %>
  <li><a href="/patrons/<%= patron.id %>"><%= patron.name %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no records to display.</p>
<% end %>

<a href="/patron/new">Add a new patron</a>
